/*** PODCASTDETAILS PAGE STYLES ***/

.podcast-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.podcast-detail h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.podcast-detail img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.podcast-detail p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 2rem;
}

.podcast-detail h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #eee;
    padding-bottom: 0.5rem;
}

.podcast-detail ul {
    list-style-type: none;
    padding-left: 0;
}

.podcast-detail li {
    margin-bottom: 1.2rem;
    background-color: #fafafa;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}

.podcast-detail h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #2c3e50;
}

.podcast-detail strong {
    color: #000;
}

.episode-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*==================================*/

/** BUTTON STYLES **/

.play-button {
    background-color: #5293be;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.play-button:hover {
    background-color: #1d3f55;
}

.delete-button {
    background-color: #5293be;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.delete-button:hover {
    background-color: #1d3f55;
}

.heart-button {
    color: #666;
    transition: color 0.3s ease;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.heart-button.favorited {
    color: red;
}
/*================================*/

/* LOADING ANIMATION */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.loader {
  border: 8px solid #e0e0e0;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}